---
layout: layout.njk
title: Stockholm, Sweden
---

{% set items = [
  { "url": "/", "label": "Dashboard", "active": false },
  { "url": "/city-lisbon", "label": "Lisbon", "active": true }
] %}
{% include "components/city-breadcrumbs.njk" %}
<!-- today's weather -->
<h2 class="subtitle">Today's Weather</h2>
<section class="box has-text-centered has-background-link-90 has-text-grey-darker">
    <span class="tag is-medium has-text-grey-darker has-background-link-80">Today - Monday</span>
    <p class="is-size-1 has-text-black-ter">7°C</p>
    <img src="/images/night-cloudy.png" width="70" alt="Sunny"/>
    <p class="is-size-5">Max Wind: 32 km/h</p>
    <p class="is-size-5">Precipitation Chance: 20%</p>
    <p class="is-size-5">Cloudy</p>
</section>
<!-- hourly forcasts -->
<h2 class="subtitle">Hourly Forecast</h2>
<section class="is-flex is-overflow-x-auto">
    {% set icon = "/images/night-cloudy.png" %}
    {% set temperature = 7 %}
    {% set wind = 32 %}
    {% set precipitation = 20 %}
    {% set time = "00:00" %}
    {% include "components/hourly-forecast-card.njk" %}
    {% set icon = "/images/night-cloudy.png" %}
    {% set temperature = 7 %}
    {% set wind = 17 %}
    {% set precipitation = 20 %}
    {% set time = "01:00" %}
    {% include "components/hourly-forecast-card.njk" %}
    {% set icon = "/images/night-cloudy.png" %}
    {% set temperature = 7 %}
    {% set wind = 17 %}
    {% set precipitation = 20 %}
    {% set time = "02:00" %}
    {% include "components/hourly-forecast-card.njk" %}
    {% set icon = "/images/night-cloudy.png" %}
    {% set temperature = 7 %}
    {% set wind = 17 %}
    {% set precipitation = 20 %}
    {% set time = "03:00" %}
    {% include "components/hourly-forecast-card.njk" %}
    {% set icon = "/images/night-cloudy.png" %}
    {% set temperature = 7 %}
    {% set wind = 17 %}
    {% set precipitation = 20 %}
    {% set time = "04:00" %}
    {% include "components/hourly-forecast-card.njk" %}
    {% set icon = "/images/cloudy.png" %}
    {% set temperature = 6 %}
    {% set wind = 17 %}
    {% set precipitation = 16 %}
    {% set time = "05:00" %}
    {% include "components/hourly-forecast-card.njk" %}
    {% set icon = "/images/cloudy.png" %}
    {% set temperature = 6 %}
    {% set wind = 15 %}
    {% set precipitation = 7 %}
    {% set time = "06:00" %}
    {% include "components/hourly-forecast-card.njk" %}
</section>
<!-- weather table -->
<h2 class="subtitle mt-5">This Weeks Weather Table</h2>
<h2 class="subtitle mt-5 has-text-centered">Summary</h2>
<div class="has-text-centered">
    <section class="box has-background-link-85 has-text-grey-darker is-inline-block mb-5">
        <p>
            Lisbon will see a mix of sun and showers this week. Early days are mild and partly sunny, midweek brings heavier rain
            and stronger winds, and conditions improve toward the weekend with warmer temperatures and clearer skies.
        </p>
    </section>
</div>
{% set forecast = [
  { "name": "Monday", "weather": "Sunny", "temp": 18, "wind": 10, "precipitation": 76 },
  { "name": "Tuesday", "weather": "Cloudy", "temp": 15, "wind": 18, "precipitation": 20 },
  { "name": "Wednesday", "weather": "Rain", "temp": 14, "wind": 25, "precipitation": 80 },
  { "name": "Thursday", "weather": "Sunny", "temp": 18, "wind": 12, "precipitation": 0 },
  { "name": "Friday", "weather": "Cloudy", "temp": 16, "wind": 14, "precipitation": 30 },
  { "name": "Saturday", "weather": "Rain", "temp": 12, "wind": 30, "precipitation": 20 },
  { "name": "Sunday", "weather": "Sunny", "temp": 19, "wind": 10, "precipitation": 0 }
] %}
{% include "components/weather-table.njk" %}
<!-- Additional Weather information -->
<article class="message has-background-link-20 is-link">
    <div class="message-body">
        <h2 class="subtitle">Additional Weather Information</h2>
        <ul>
            <li>
                <strong>Average Temperature:</strong>
                16°C</li>
            <li>
                <strong>Highest Temperature:</strong>
                19°C (Sunday)</li>
            <li>
                <strong>Lowest Temperature:</strong>
                12°C (Saturday)</li>
            <li>
                <strong>Strongest Winds:</strong>
                30 km/h (Saturday)</li>
            <li>
                <strong>Rainiest Day:</strong>
                Wednesday (80% chance)</li>
        </ul>
    </div>
</article>
<!-- back to dashboard button -->
<a href="/" class="button has-background-link-75 has-text-white">
    ← Back to Dashboard
</a>