---
layout: layout.njk
title: Helsinki, Finland
eleventyNavigation:
  key: Helsinki
  parent: Cities
  order: 2
---

{% set items = [
  { "url": "/", "label": "Dashboard", "active": false },
  { "url": "/city-helsinki", "label": "Helsinki", "active": true }
] %}
{% include "components/city-breadcrumbs.njk" %}
<!-- today's weather -->
{% set today = {
  "day": "Monday",
  "temp": -8,
  "feels_like": -12,
  "icon": "/images/cloudy.png",
  "weather": "Cloudy",
  "wind": 33,
  "precipitation": 92,
  "sunrise": "08:15 am",
  "sunset": "04:20 pm",
  "description": "Cold and windy"
} %}
{% include "components/weather-today.njk" %}<!-- hourly forcasts -->{% set hourly_forecast = [
  { "icon": "/images/misty.png", "temperature": -8, "wind": 33, "precipitation": 92, "time": "00:00" },
  { "icon": "/images/rainy.png", "temperature": -8, "wind": 34, "precipitation": 94, "time": "01:00" },
  { "icon": "/images/rainy.png", "temperature": -7, "wind": 34, "precipitation": 94, "time": "02:00" },
  { "icon": "/images/rainy.png", "temperature": -7, "wind": 35, "precipitation": 93, "time": "03:00" },
  { "icon": "/images/rainy.png", "temperature": -7, "wind": 34, "precipitation": 94, "time": "04:00" },
  { "icon": "/images/rainy.png", "temperature": -6, "wind": 34, "precipitation": 94, "time": "05:00" },
  { "icon": "/images/rainy.png", "temperature": -7, "wind": 35, "precipitation": 94, "time": "06:00" }
] %}{% include "components/hourly-forecast-card.njk" %}
<!-- weather table -->
<h2 class="subtitle mt-5">This Weeks Weather Table</h2>
<h2 class="subtitle mt-5 has-text-centered">Summary</h2>
<div class="has-text-centered">
  <section class="box has-background-link-85 has-text-grey-darker is-inline-block mb-5">
    <p>
      Early this week brings rain and gusty winds. Midweek stays damp and cool, with temperatures around 5-7°C. By Friday
      skies clear, winds ease, and the weekend looks calmer though still chilly with a low chance of raining.
    </p>
  </section>
</div>
{% set forecast = [
  { "name": "Monday", "weather": "Cloudy", "max_temp": 4, "min_temp": 2, "wind": 20, "precipitation": 60 },
  { "name": "Tuesday", "weather": "Rain", "max_temp": 6, "min_temp": 3, "wind": 23, "precipitation": 90 },
  { "name": "Wednesday", "weather": "Rain", "max_temp": 5, "min_temp": 2, "wind": 26, "precipitation": 80 },
  { "name": "Thursday", "weather": "Cloudy", "max_temp": 7, "min_temp": 4, "wind": 19, "precipitation": 30 },
  { "name": "Friday", "weather": "Partly Cloudy", "max_temp": 1, "min_temp": 1, "wind": 8, "precipitation": 10 },
  { "name": "Saturday", "weather": "Cloudy", "max_temp": 5, "min_temp": 2, "wind": 24, "precipitation": 20 },
  { "name": "Sunday", "weather": "Cloudy", "max_temp": 6, "min_temp": 3, "wind": 23, "precipitation": 20 }
] %}{% include "components/weather-table.njk" %}<!-- Additional Weather information -->{% set additional = {
  "avg_temp": 5,
  "high_temp": 7,
  "high_temp_day": "Thursday",
  "low_temp": 1,
  "low_temp_day": "Friday",
  "strongest_wind": 26,
  "wind_day": "Wednesday",
  "rain_day": "Tuesday",
  "rain_chance": 90
} %}{% include "components/additional-weather-message.njk" %}<!-- back to dashboard button --><a href="/" class="button has-background-link-75 has-text-white">← Back to Dashboard</a>