---
layout: layout.njk
title: Stockholm, Sweden
eleventyNavigation:
  key: Stockholm
  parent: Cities
  order: 1
---

{% set items = [
  { "url": "/", "label": "Dashboard", "active": false },
  { "url": "/city-stockholm", "label": "Stockholm", "active": true }
] %}
{% include "components/city-breadcrumbs.njk" %}
<!-- today's weather -->
{% set today = {
  "day": "Monday",
  "temp": 7,
  "feels_like": 15,
  "icon": "/images/night-cloudy.png",
  "weather": "Cloudy",
  "wind": 32,
  "precipitation": 20,
  "sunrise": "7:45 am",
  "sunset": "05:15 pm",
  "description": "Cloudy"
} %}
{% include "components/weather-today.njk" %}
<!-- hourly forcasts -->
{% set hourly_forecast = [
  { "icon": "/images/night-cloudy.png", "temperature": 7, "wind": 32, "precipitation": 20, "time": "00:00" },
  { "icon": "/images/night-cloudy.png", "temperature": 7, "wind": 17, "precipitation": 20, "time": "01:00" },
  { "icon": "/images/night-cloudy.png", "temperature": 7, "wind": 17, "precipitation": 20, "time": "02:00" },
  { "icon": "/images/night-cloudy.png", "temperature": 7, "wind": 17, "precipitation": 20, "time": "03:00" },
  { "icon": "/images/night-cloudy.png", "temperature": 7, "wind": 17, "precipitation": 20, "time": "04:00" },
  { "icon": "/images/cloudy.png", "temperature": 6, "wind": 17, "precipitation": 16, "time": "05:00" },
  { "icon": "/images/cloudy.png", "temperature": 6, "wind": 15, "precipitation": 7,  "time": "06:00" }
] %}
{% include "components/hourly-forecast-card.njk" %}
<!-- weather table -->
<h2 class="subtitle mt-5">This Weeks Weather Table</h2>
<h2 class="subtitle mt-5 has-text-centered">Summary</h2>
<div class="has-text-centered">
  <section class="box has-background-link-85 has-text-grey-darker is-inline-block mb-5">
    <p>
      Stockholm will see typical winter conditions this week. The days are mostly cloudy with light snow showers, midweek will
      have periods of rain mixed with sleet and stronger winds. By the weekend, skies brighten slightly though temperatures
      remain near freezing.
    </p>
  </section>
</div>
{% set forecast = [
  { "name": "Monday", "weather": "Cloudy", "max_temp": 2, "min_temp": -1, "wind": 12, "precipitation": 20 },
  { "name": "Tuesday", "weather": "Snow Showers", "max_temp": 1, "min_temp": -2, "wind": 15, "precipitation": 40 },
  { "name": "Wednesday", "weather": "Rain/Sleet", "max_temp": 3, "min_temp": 0, "wind": 22, "precipitation": 70 },
  { "name": "Thursday", "weather": "Cloudy", "max_temp": 0, "min_temp": -3, "wind": 14, "precipitation": 10 },
  { "name": "Friday", "weather": "Partly Cloudy", "max_temp": -1, "min_temp": -4, "wind": 10, "precipitation": 10 },
  { "name": "Saturday", "weather": "Snow", "max_temp": -3,  "min_temp": -6, "wind": 25, "precipitation": 60 },
  { "name": "Sunday", "weather": "Sunny", "max_temp": 2, "min_temp": -2, "wind": 8, "precipitation": 0 }
] %}
{% include "components/weather-table.njk" %}
<!-- Additional Weather information -->
{% set additional = {
  "avg_temp": 1,
  "high_temp": 3,
  "high_temp_day": "Wednesday",
  "low_temp": -6,
  "low_temp_day": "Saturday",
  "strongest_wind": 25,
  "wind_day": "Saturday",
  "rain_day": "Wednesday",
  "rain_chance": 70
} %}
{% include "components/additional-weather-message.njk" %}
<!-- back to dashboard button -->
<a href="/" class="button has-background-link-75 has-text-white">
  ← Back to Dashboard
</a>