---
layout: layout.njk
title: Contact Us
---

<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="name" placeholder="Your name"></div>
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="email" name="email" placeholder="Your email"></div>
                            </div>
                            <div class="field">
                                <label class="label">Message</label>
                                <div class="control">
                                    <textarea class="textarea" name="message" placeholder="Your message to us"></textarea>
                                </div>
                            </div>
                            <div class="field is-grouped is-grouped-right">
                                <div class="control">
                                    <button class="button has-background-link-70 has-text-white">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content has-text-centered mt-6">
                    <p>
                        <strong>Email:</strong>
                        whether_weather@email.com</p>
                    <p>
                        <strong>Phone:</strong>
                        +353 123 4567</p>
                </div>
            </div>
        </div>