---
layout: layout.njk
title: Weather
---

<div class="column is-12 has-text-centered has-text-white">
    <p class="is-size-5">Select a city to view weather details</p>
</div>
{% set cities = [
    { "name": "Helsinki, Finland", "image": "https://images.unsplash.com/photo-1538332576228-eb5b4c4de6f5", "temperature": 18, "path": "/city-helsinki" },
    { "name": "Lisbon, Portugal", "image": "https://images.unsplash.com/photo-1692694994201-1a09c7cc12bf", "temperature": 18, "path": "/city-lisbon" },
    { "name": "Stockholm, Sweden", "image": "https://images.unsplash.com/photo-1508189860359-777d945909ef", "temperature": 18, "path": "/city-stockholm" }
] %}
{% include "components/dashboard-card.njk" %}

    