---
layout: layout.njk
title: Select a city to view weather details
---

{% set cities = [
    { "name": "Helsinki, Finland", "image": "https://images.unsplash.com/photo-1538332576228-eb5b4c4de6f5", "temperature": 4, "icon": "/images/cloudy.png", "path": "/city-helsinki" },
    { "name": "Lisbon, Portugal", "image": "https://images.unsplash.com/photo-1692694994201-1a09c7cc12bf", "temperature": 18, "icon": "/images/night-rain.png", "path": "/city-lisbon" },
    { "name": "Stockholm, Sweden", "image": "https://images.unsplash.com/photo-1508189860359-777d945909ef", "temperature": 7, "icon": "/images/night-cloudy.png", "path": "/city-stockholm" }
] %}
{% include "components/dashboard-card.njk" %}

    