<!-- footer -->
<footer class="footer mt-5 has-background-black-ter has-text-white">
    <div class="container">
        <div class="content has-text-centered">
            <p>Wheather Weather ☁ by Boon Chin Look · 2025</p>
        </div>
    </div>
</footer>