<!-- footer -->
<footer class="footer mt-5 has-background-warning-80 has-text-warning-dark">
    <div class="has-text-centered">
        <div class="box is-inline-block has-background-warning-90">
            <p>Wheather Weather ☁ by Boon Chin Look · 2025</p>
        </div>
    </div>
</footer>