<!DOCTYPE html>
<html class="has-background-black-ter" lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Weather</title>
        <link rel="icon" type="image/png" sizes="32x32" href="/images/logo.png"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/versions/bulma-no-dark-mode.min.css"/>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/modal.js"></script>
    </head>
    <script>
        document.addEventListener("DOMContentLoaded", () => { // Get all "navbar-burger" elements
            const $navbarBurgers = Array
                .prototype
                .slice
                .call(document.querySelectorAll(".navbar-burger"), 0)
            // Add a click event on each of them
            $navbarBurgers
            .forEach((el) => {
                el.addEventListener("click", () => { // Get the target from the "data-target" attribute
                    const target = el.dataset.target
                    const $target = document
                        .getElementById(target)
                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el
                        .classList
                        .toggle("is-active")
                    $target
                    .classList
                    .toggle("is-active")
            })
        })
})
    </script>
    <body class="has-background-warning-90">
        {% include "nav.njk" %}
        <main>
            <div class="columns is-centered is-multiline">
                <div class="column is-11">
                    {% include "header.njk" %}
                    {{ content | safe }}
                </div>
            </main>
            {% include "footer.njk" %}</body>
    </body>
</html>