<!-- hero section -->
<section class="hero has-background-warning-75">
    <div class="hero-body has-text-centered">
        <figure class="image is-inline-block">
            <img src="/images/logo.png" alt="Weather App Logo">
        </figure>
    </div>
</section>
<!-- navbar -->
<nav class="navbar has-background-warning-85">
    <div class="navbar-brand">
        <span class="navbar-burger has-background-black-ter" data-target="navbarMenu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </span>
    </div>
    <div class="navbar-start">
        <a class="navbar-item has-text-warning-dark is-size-5" href="/">Dashboard</a>
    </div>
    <!-- city dropdown -->
    <div id="navbarMenu" class="navbar-menu mr-6">
        <div class="navbar-end has-background-warning-85 is-size-5">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link has-text-warning-dark">Cities</a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/city-helsinki">Helsinki</a>
                    <a class="navbar-item" href="/city-lisbon">Lisbon</a>
                    <a class="navbar-item" href="/city-stockholm">Stockholm</a>
                </div>
            </div>
            <a class="navbar-item has-text-warning-dark" href="/preferences">User Preferences</a>
        </div>
    </div>
</nav>