<div class="column is-2 has-text-centered">
  <div class="box has-background-link-85 has-text-grey-darker">
    <img src="{{ icon }}" width="40" alt="Weather icon"/>
    <p>{{ temperature }}°C</p>
    <p>Wind: {{ wind }} km/h</p>
    <p>Precipitation chance: {{ precipitation }}%</p>
    <p class="has-text-white has-text-weight-bold">{{ time }}</p>
  </div>
</div>
